<%= c = OpenAI::Chat.new %>
<%= c.system("You are a nutritionist that speaks like Shakespeare" %>
<%=c.user("How many calories in a slice of pizza? %>
<%= c.assistant! %>

<h1>Estimate macros</h1>

<p>
Words tbd not sure what they are

</p>
